$dark-color: #2a0000
$main-color: #750000
$blond-color: #fff
*
    box-sizing: border-box
    margin: 0
    padding: 0
    outline: none 
.header-block
    width: 100%
    height: 60px
    position: fixed
    background-color: rgba(0, 0, 0, 0.3)
    z-index: 10    
    ul
        height: 60px
        display: flex
        list-style-type: none
        justify-content: space-around
        align-items: center
        color: $blond-color
        li:after
            content: ''
            display: block
            background-color: $main-color
            height: 2px
            width: 100%
            margin-top: 4px
    a
        text-decoration: none
        color: inherit
        font-size: 22px
    a:visited, a:hover, a:focus, a:active
        text-decoration: none
        color: inherit
.main
    width: 100%
    height: 650px
    background-color: $dark-color    
    &-block
        min-height: 300px
        width: 75%
        margin: 180px auto 0
        text-align: center
        padding: 30px
        background-color: rgba(0, 0, 0, 0.4)
        border: 6px solid $main-color
        &-link
            color: $blond-color
            font-size: 22px
            font-weight: bold
            &:after
                content: ''
                display: block
                height: 3px
                background-color: $blond-color
                width: 20%
                margin: 4px auto 0
        &-title
            color: $blond-color
            text-transform: uppercase
            font-size: 44px
            margin-top: 30px
        &-descr
            color: $main-color
            text-transform: uppercase
            font-size: 22px
            margin-top: 30px
.content
    background-color: $dark-color
    width: 100%
    &:before
        content: ''
        height: 4px
        display: block
        background-color: $dark-color
        margin-top: -2px
    .features
        width: 100%
        .info
            width: 100%
            background-color: #753b00
            padding: 40px
            box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.8)
            &-header
                width: 100%
                height: 60px
                display: flex
                justify-content: space-around
                &-tab
                    color: $main-color
                    font-size: 22px
                    font-weight: bold
                    cursor: pointer
                    &:after
                        content: ''
                        display: block
                        width: 0%
                        height: 3px
                        background-color: $main-color
                        margin-top: 4px
                        transition: 0.4s
                    &:hover:after
                        width: 60%
            &-tabcontent
                width: 100%
                display: flex
                transition: all 5s ease            
                .description
                    width: 50%
                    &-title
                        color: $main-color
                        font-size: 34px
                        &:after
                            content: ''
                            display: block
                            background-color: $main-color
                            width: 25%
                            height: 3px
                            margin-top: 4px
                    &-text
                        font-family: 'Merriweather', serif
                        color: $blond-color
                        font-weight: 300
                        margin-top: 30px
                        padding-right: 20px
                    &-btn
                        width: 180px
                        height: 45px
                        margin-top: 30px
                        color: $main-color
                        border: 1px solid $main-color
                        font-size: 14px
                        text-transform: uppercase
                        font-weight: bold
                        text-align: center
                        line-height: 43px
                        cursor: pointer
                        &:hover
                            box-shadow: 0px 0px 5px $main-color
                .photo
                    order: 1
                    width: 50%
                    display: flex
                    align-items: center
                    
                    img
                        width: 100%
                        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8)
            .hide
                display: none
            .show
                display: flex
    .footer-block
        width: 100%
        padding: 30px
        .social-block
            width: 100%
            &-title
                color: $blond-color
                font-size: 25px
                text-align: center
            &-links
                display: flex
                justify-content: space-around
                padding-top: 20px
                a
                    padding: 5px 0 5px
                    img
                        width: 70px
                        height: 70px
                        border-radius: 10px
                        transition: all 0.5s ease
                        &:hover
                            transform: rotate(360deg)
        .contact-block
            width: 100%
            &-title
                text-align: center
                color: $blond-color
                font-size: 25px
                padding-left: 10%
            &-links
                padding-top: 20px
                .phone-link
                    display: flex
                    justify-content: center
                    img
                        height: 22px
                    a
                        color: $blond-color
                        font-size: 22px
                        text-decoration: none
                .personal-message
                    display: flex
                    justify-content: center
                    a
                        display: block
                        font-size: 22px
                        text-decoration: none
                        color: $blond-color
                        border: 1px solid $blond-color
                        border-radius: 10px
                        padding: 10px
                        margin-top: 10px
                        transition: 0.5s
                        &:hover
                            background-color: $main-color